@model ProblemSolving.Models.SubProblem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="detail">
    <!--Jumbotron-->


        <div class="row">

            <div class="col-lg-6">
              
                  <div id="editor" style="  position: inherit;

                    width:600px;
                    height:600px;
            
                    border: 3px solid #73AD21;">

                        function foo(items) {
                    var x = "All this is syntax highlighted";
                    return x;
                    }
                  </div>
            </div>

            <div class="col-lg-2">
                <h1>@Html.DisplayFor(model => model.SubProbName)</h1>
            </div>
            <div class="col-lg-2">
                <h1>$35/hr</h1>
                <h1>@Html.DisplayFor(model => model.SubProbNameDescription)</h1>
            </div>
        
            <div class="col-lg-2">

                <img src="@Url.Content("~/Img/aa.png")" style="width:102%" />
            </div>

            
        </div>
    </div>


<script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");
</script>