@model ProblemSolving.Models.SubProblem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="detail">
    <!--Jumbotron-->


        <div class="row">

            <div class="col-lg-5">
              
                <div id="editor" style="  position: inherit;

                    width:600px;
                    height:800px;

                    border: 3px solid #f9632e;">

                    @Html.DisplayFor(model => model.code)
                </div>
            </div>

            <div class="col-lg-7">
                <h1 class="text-center">@Html.DisplayFor(model => model.SubProbName)</h1>
                <p class="list-group-item-warning">@Html.DisplayFor(model => model.SubProbNameDescription)</p>
                 
        </div>
    </div>


<script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");
</script>