@model IEnumerable<ProblemSolving.Models.SubProblem>

@{
    ViewBag.Title = "SubItemsV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div class="container padding">
        <div class="row padding">

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@Url.Content("~/Img/aa.png")" style="width:102%" />
                    <div class="card-body list-group-item-warning">
                        <h4 class="card-title">
                            @Html.DisplayFor(ModelItem => item.SubProbName)
                        </h4>
                        <p class="list-group-item-warning">@Html.DisplayFor(ModelItem => item.SubProbNameDescription)</p>

                        @Html.ActionLink("Details", "Details", new { SubId = item.id }, new { @class = "btn btn-outline-secondary" })

                    </div>
                </div>
            </div>

        </div>
    </div>
}